{% extends 'base.html' %}

{% block title %}Siswa{% endblock %}

{% block content %}
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">SISWA</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Siswa</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Table -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header card-header-sm bg-gradient-red pb-3">
                        <h3 class="float-left text-white">Data Siswa</h3>
                        <button id="add-student" type="button" class="btn btn-sm btn-success float-right">
                            Tambah Siswa
                        </button>
                    </div>
                    <!-- ./Card-Header -->
                    <!-- Card-Body -->
                    <div class="card-body card-body-sm">
                        <div class="form-group d-flex mb-2">
                            <select id="filter-class" class="form-control form-control-sm float-left mr-1" style="max-width: 130px;">
                                <option value="" selected>=== Kelas ===</option>
                                {% for class in classes %}
                                    <option value="{{ class.id }}">{{ class.kelas }}</option>
                                {% endfor %}
                            </select>
                            <button id="show-class" type="button" class="btn btn-sm btn-primary float-left ml-1">Tampilkan</button>
                        </div>
                        <div class="table-responsive py-2">
                            <table class="table table-bordered table-sm text-center" id="table-student">
                                <thead class="thead-light">
                                <tr>
                                    <th class="w-2 p-3">No.</th>
                                    <th class="w-25 p-3">NIS</th>
                                    <th class="w-25 p-3">Nama Siswa</th>
                                    <th class="w-2 p-3">Jenis <br>Kelamin</th>
                                    <th class="w-25 p-3">Kelas</th>
                                    <th class="w-25 p-3">Tahun<br>Ajaran</th>
                                    <th class="w-25 p-3">Agama</th>
                                    <th class="w-25 p-3">Jenis<br>Siswa</th>
                                    <th class="w-20 p-3">Alamat</th>
                                    <th class="w-25 p-3">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {% include '_footer.html' %}
        <!-- Modal -->
        <div class="modal fade" id="modal-student">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header pb-0">
                        <h3 id="title-student">Tambah Siswa</h3>
                    </div>
                    <div class="modal-body pt-2">
                        <form id="form-student">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-nis" class="form-control-label">NIS</label>
                                        <input class="form-control form-control-sm" type="number"  placeholder="NIS" id="input-nis" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-name" class="form-control-label">Nama Siswa</label>
                                        <input id="input-name" class="form-control form-control-sm" type="text" placeholder="Nama siswa" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-gender" class="form-control-label">Jenis Kelamin</label>
                                        <select class="form-control form-control-sm" id="input-gender" required>
                                            <option value="0">Laki-Laki</option>
                                            <option value="1">Perempuan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="input-class" class="form-control-label">Kelas</label>
                                    <select id="input-class" class="form-control form-control-sm" required>
{#                                        <option>X TKJ</option>#}
{#                                        <option>XI TKJ</option>#}
{#                                        <option>XII TKJ</option>#}
{#                                        <option>X FARMASI</option>#}
{#                                        <option>XI FARMASI</option>#}
{#                                        <option>XII FARMASI</option>#}
                                    </select>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-school-year" class="form-control-label">Tahun Ajaran</label>
                                        <select class="form-control form-control-sm" id="input-school-year" required>
                                            <option>2015/2016</option>
                                            <option>2016/2017</option>
                                            <option>2017/2018</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-religion" class="form-control-label">Agama</label>
                                        <select class="form-control form-control-sm" required id="input-religion">
                                            <option value="Islam">ISLAM</option>
                                            <option value="Katolik">KATOLIK</option>
                                            <option value="Protestan">PROTESTAN</option>
                                            <option value="Hindu">HINDU</option>
                                            <option value="Buddha">BUDDHA</option>
                                            <option value="Konghucu">KONGHUCU</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-student-type" class="form-control-label">Jenis Siswa</label>
                                        <select class="form-control form-control-sm" id="input-student-type" required>
                                            <option value="0">Reguler</option>
                                            <option value="1">Beasiswa</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input-address" class="form-control-label">Alamat</label>
                                        <textarea id="input-address" class="form-control form-control-sm" rows="3" placeholder="Desa, Kecamatan, Kabupaten, Provinsi" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right ml-1">
                                <button type="submit" class="btn btn-success">Simpan</button>
                            </div>
                            <div class="float-right mr-1">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}